<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %} - BCAB</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	{% block nav %} {% endblock %}
	<div class="container">
    <!-- Flash Messages Block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div class="mt-4">
						{% for category, message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
								{{ message }}
							</div>
						{% endfor %}
				</div>
			{% endif %}
    {% endwith %}
	</div>

	{% block content %} {% endblock %}

	<script src="/js/bootstrap/bootstrap.js"></script>
</body>
</html>